body
  #map(style="height: 700px;width: 800px;margin: 0;padding: 0;")
  script.
    var x = 0;
    var y = 0;
    var marker;

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: {
          lat: 49.249889599999996,
          lng: -123.00167519999998
        }
      });
      marker = new google.maps.Marker({
        position: {
          lat: x,
          lng: y
        },
        map: map
      });
    }

    var coords = 0;

    setInterval(loop, 1000);

    function loop() {
      var Httpreq = new XMLHttpRequest(); // a new request
      Httpreq.open("GET", "http://localhost:8080/json", false);
      Httpreq.send(null);
      console.log(Httpreq.responseText);
      json = JSON.parse(Httpreq.responseText);
      x = json.x;
      y = json.y;

      var newLatLng = new google.maps.LatLng(x, y);
      marker.setPosition(newLatLng);

    }

  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBIOKzYVMP70n5eBOVWmg-Qac3YedLim7E&callback=initMap')
