body
  #map(style="height: 700px;width: 800px;margin: 0;padding: 0;")
  script(src='/map.js')
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBIOKzYVMP70n5eBOVWmg-Qac3YedLim7E&callback=initMap')
